.raajteja1 {
  background-repeat: no-repeat;
  background-size: contain;
  width: 450px;
  height: 300px;
  float:right;
  margin-inline: -12px;
  border-radius: 10px;
}
.skillsimages {
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  filter: drop-shadow(2px 4px 6px black) ;
}
h5 {
  margin-top: 8px;
}
.pickupline {
  background-color: #1d262d;
  border-radius: 10px;
}
.bottom-component {
  bottom: 0;
}