.raajteja1 {
  background-repeat: no-repeat;
  background-size: contain;
  width: 450px;
  height: 300px;
  float:right;
  margin-inline: -12px;
  border-radius: 10px;
}
.skillsimages {
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  filter: drop-shadow(2px 4px 6px black) ;
}
.feedbackimages {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 150px;
  filter: drop-shadow(2px 4px 6px black) ;
}
.feedbacktext {
  filter: drop-shadow(1px 2px 5px black) ;
}
h5 {
  margin-top: 8px;
}
.pickupline {
  background-color: #1d262d;
  border-radius: 10px;
}
.bottom-component {
  bottom: 0;
}
.feedbackcarousel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 1000%;
  background-color:#2b2928;
  color: #fff;
  margin: 0 15px;
  font-size: 1em;
}
.rec-arrow.rec-arrow-left {
  background : none;
  color: white;
}

.rec-arrow.rec-arrow-right {
  background : none;
  color: white;
}
